<!-- page-top -->
<div class="p-page-top js-pagetop">
  <a href="#" class="c-page-top">
    <div class="c-arrow-top c-arrow-top--custom"></div>
  </a>
</div>

<footer class="l-footer p-footer">
  <div class="p-footer__inner l-inner">


    <div class="p-footer__logo">
      <picture>
        <source srcset="./img/footer/footer-logo_pc.png" media="(min-width: 768px)" /><!-- 幅768px以上なら表示 -->
        <img src="./img/footer/footer-logo_sp.png" alt="SETOUCHI" />
      </picture>
    </div>

    <div class="p-footer__items">
      <div class="p-footer__itemWrap">
        <div class="p-footer__item p-footer-item">
          <a href="#" class="p-footer__link">プライバシーポリシー</a>
        </div>
        <div class="p-footer__item p-footer-item">
          <a href="#" class="p-footer-item__link">会社概要</a>
        </div>
      </div>
      <div class="p-footer__itemWrap">
        <div class="p-footer__item p-footer-item">
          <a href="#" class="p-footer-item__link">お問い合わせ</a>
        </div>
        <div class="p-footer__item p-footer-item">
          <a href="#" class="p-footer-item__link">利用規約</a>
        </div>
        <div class="p-footer__item p-footer-item">
          <a href="#" class="p-footer-item__link">個人情報保護方針</a>
        </div>
      </div>
    </div>

    <div class="p-footer__copyright">
      <p class="c-copyright">copyright &copy; setouchi + 運営事務局</p>
    </div>

  </div>
</footer>