<header class="l-header p-header">
  <div class="p-header__inner l-inner">

    <div class="p-header__head">
      <h2 class="p-header__title">
        <a href="#" class="p-header__link">SETOUCHI + 公式オンラインショップ</a>
      </h2>
      <!-- PCアイコンメニュー -->
      <div class="p-header__menu-pc p-header-menu-pc">
        <div class="p-header-menu__user">
          <a href="#" class="p-header-menu__link">
            <img src="./img/header/user.png" alt="ユーザー">
          </a>
        </div>
        <div class="p-header-menu__favorite">
          <a href="#" class="p-header-menu__link">
            <img src="./img/header/heart.png" alt="お気に入り">
          </a>
        </div>
        <div class="p-header-menu__cart">
          <a href="#" class="p-header-menu__link">
            <img src="./img/header/bag.png" alt="カート">
          </a>
        </div>
        <div class="p-header-menu__search">
          <a href="#" class="p-header-menu__link">
            <img src="./img/header/search_white.png" alt="検索">
          </a>
        </div>
      </div>
    </div>

    <div class="p-header__content">
      <div class="p-header__logo">
        <a href="#">
          <img src="./img/header/header-logo.png" alt="SETOUCHI">
        </a>
      </div>
      <!-- PCナビメニュー -->
      <ul class="p-header__nav p-header-nav-pc js-header-nav">
        <li class="p-header-nav__item">
          <a href="#" class="p-header-nav-pc__link">商品一覧</a>
        </li>
        <li class="p-header-nav__item">
          <a href="#" class="p-header-nav-pc__link">ブランド一覧</a>
        </li>
        <li class="p-header-nav__item">
          <a href="#" class="p-header-nav-pc__link">地域別</a>
        </li>
        <li class="p-header-nav__item">
          <a href="#" class="p-header-nav-pc__link">SETOUCHI + とは</a>
        </li>
        <li class="p-header-nav__item">
          <a href="#" class="p-header-nav-pc__link">特集</a>
        </li>
        <li class="p-header-nav__item">
          <a href="#" class="p-header-nav-pc__link">お知らせ</a>
        </li>
      </ul>
      <!-- SPメニュー -->
      <div class="p-header__menu-sp p-header-menu p-header-menu-sp">
        <div class="p-header-menu__search p-header-menu-sp__item">
          <a href="#">
            <img src="./img/header/search.png" alt="検索">
          </a>
        </div>
        <div class="p-header-menu__cart p-header-menu-sp__item">
          <a href="#">
            <img src="./img/header/bag.png" alt="カート">
          </a>
        </div>
        <!-- SPハンバーガーアイコン -->
        <!-- <div class="p-header__drawer p-header-menu-sp__item c-hamburger js-hamburger">
          <span></span>
          <span></span>
        </div> -->
        <button type="button" class="p-header__drawer p-header-menu-sp__item p-hamburger js-hamburger" aria-controls="global-nav" aria-expanded="false">
          <span class="p-hamburger__line">
            <span class="p-hamburger__hidden"></span>
          </span>
        </button>
        <!-- SPドロワーメニュー -->
        <div class="p-header-menu__drawer p-drawer-menu js-drawer-menu">
          <ul class="p-drawer-menu__items">
            <li class="p-drawer-menu__item">
              <a href="#" class="p-drawer-menu__link">商品一覧</a>
            </li>
            <li class="p-drawer-menu__item">
              <a href="#" class="p-drawer-menu__link">ブランド一覧</a>
            </li>
            <li class="p-drawer-menu__item">
              <a href="#" class="p-drawer-menu__link">地域別</a>
            </li>
            <li class="p-drawer-menu__item">
              <a href="#" class="p-drawer-menu__link">SETOUCHI + とは</a>
            </li>
            <li class="p-drawer-menu__item">
              <a href="#" class="p-drawer-menu__link">特集</a>
            </li>
            <li class="p-drawer-menu__item">
              <a href="#" class="p-drawer-menu__link">お知らせ</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</header>