<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>

      <section class="l-top-view p-top-view js-top-view">
        <div class="p-top-view__inner l-inner">

          <div class="p-top-view__logo">
            <img src="./img/common/onoten-logo.png" alt="ONE TEN">
          </div>
          <ul class="p-top-view__items p-onoten-items">
            <li class="p-onoten-items__item">
              <div class="p-onoten-items__img">
                <img src="./img/onoten/onoten-truffle.png" alt="トリュフ＆瀬戸内塩">
              </div>
              <p class="p-onoten-items__text">トリュフ＆瀬戸内塩</p>
            </li>
            <li class="p-onoten-items__item">
              <div class="p-onoten-items__img">
                <img src="./img/onoten/onoten-olive.png" alt="小豆島オリーブ＆ビネガー">
              </div>
              <p class="p-onoten-items__text">小豆島オリーブ＆ビネガー</p>
            </li>
            <li class="p-onoten-items__item">
              <div class="p-onoten-items__img">
                <img src="./img/onoten/onoten-tomato.png" alt="トマト＆バジル">
              </div>
              <p class="p-onoten-items__text">トマト＆バジル</p>
            </li>
            <li class="p-onoten-items__item">
              <div class="p-onoten-items__img">
                <img src="./img/onoten/onoten-lime.png" alt="尾道ライム">
              </div>
              <p class="p-onoten-items__text">尾道ライム</p>
            </li>
            <li class="p-onoten-items__item">
              <div class="p-onoten-items__img">
                <img src="./img/onoten/onoten-lemon.jpg" alt="瀬戸内レモン">
              </div>
              <p class="p-onoten-items__text">瀬戸内レモン</p>
            </li>
            <li class="p-onoten-items__item">
              <div class="p-onoten-items__img">
                <img src="./img/onoten/onoten-okonomi.png" alt="尾道ぽっぽ家のお好み焼きソース">
              </div>
              <p class="p-onoten-items__text">尾道ぽっぽ家の<br>お好み焼きソース</p>
            </li>
          </ul>
          <div class="p-top-view__img">
            <img src="./img/common/onoten_box.png" alt="ONO TEN">
          </div>

        </div>
      </section>


      <section class="l-top-onomichi p-top-onomichi">
        <div class="l-inner p-top-onomichi__inner">

          <div class="p-top-onomichi__content">
            <div class="p-top-onomichi__content-wrap">
              <p class="p-top-onomichi__text c-top-onomichi-title">
                尾道で生まれ、<br>進化を続ける<br>新しいONOMICHIの銘品
              </p>
              <p class="p-top-onomichi__text c-top-onomichi-text">
                瀬戸内海に面した小さな街、尾道。<br>風情あふれる歴史と景観をほこります。
              </p>
              <p class="p-top-onomichi__text c-top-onomichi-text">
                古いものを活かし、新しいものを取り込む。<br>尾道は新旧の文化が交差する港街です。
              </p>
            </div>
            <div class="p-top-onomichi__content-wrap">
              <p class="p-top-onomichi__text c-top-onomichi-text">
                そして、いまここに<br>穏やかな内海と山の恵みが<br>日本の伝統「天麩羅」と出会い、<br>新たな銘品が生まれました。
              </p>
              <p class="p-top-onomichi__text c-top-onomichi-text">
                お口にふわりと広がる風味。<br>さくりと嬉しい噛みごたえ。<br>ひと口食べれば、あと引く美味しさ。
              </p>
              <p class="p-top-onomichi__text c-top-onomichi-text">
                進化する尾道の幸、ONOTEN。<br>その豊かな味わいを心ゆくまでご堪能あれ。
              </p>
            </div>
          </div>

        </div>
      </section>


      <section class="l-cta-onoten p-cta-onoten">
        <div class="p-cta-onoten__inner l-inner">

          <div class="p-cta-onoten__img">
            <picture>
              <source srcset="./img/pc/onoten_concept_pc.png" media="(min-width: 768px)" /><!-- 幅768px以上なら表示 -->
              <img src="./img/sp/onoten_concept_sp.png" alt="ONOTENコンセプト">
            </picture>
          </div>

        </div>
      </section>


      <section class="l-top-flavor p-top-flavor">
        <div class="p-top-flavor__inner l-inner">

          <h2 class="p-top-flavor__title">
            <img src="./img/flavor/flavor-title.png" alt="WHAT'S YOUR FAVORITE FLAVOR?">
          </h2>
          <ul class="p-top-flavor__items">
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>トリュフ＆瀬戸内塩</h3>
                <p class="p-falvor-item__price">¥ 3,450</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/truffle.jpg" alt="ONOTEN トリュフ＆瀬戸内塩">
                </div>
              </a>
            </li>
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>小豆島オリーブ＆<br class="u-mobile">ビネガー</h3>
                <p class="p-falvor-item__price">¥ 3,450</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/olive.jpg" alt="ONOTEN 小豆島オリーブ＆ビネガー">
                </div>
              </a>
            </li>
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>トマト＆バジル</h3>
                <p class="p-falvor-item__price">¥ 3,450</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/tomato.jpg" alt="ONOTEN トマト＆バジル">
                </div>
              </a>
            </li>
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>尾道ライム</h3>
                <p class="p-falvor-item__price">¥ 3,450</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/lime.jpg" alt="ONOTEN 尾道ライム">
                </div>
              </a>
            </li>
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>瀬戸内レモン</h3>
                <p class="p-falvor-item__price">¥ 3,450</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/lemon.jpg" alt="ONOTEN 瀬戸内レモン">
                </div>
              </a>
            </li>
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>尾道ぽっぽ家の<br class="u-mobile">お好み焼きソース</h3>
                <p class="p-falvor-item__price">¥ 3,450</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/okonomi.jpg" alt="ONOTEN 尾道ぽっぽ家のお好み焼きソース">
                </div>
              </a>
            </li>
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>セット</h3>
                <p class="p-falvor-item__price">¥ 3,450</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/onoten_box.jpg" alt="ONOTENセット">
                </div>
              </a>
            </li>
            <li class="p-top-flavor__item p-falvor-item">
              <a href="#" class="p-falvor-item__link">
                <h3 class="p-falvor-item__title">onten<br>限定紙袋</h3>
                <p class="p-falvor-item__price">¥ 50</p>
                <div class="p-falvor-item__img">
                  <img src="./img/common/paper_bag.jpg" alt="ONOTEN限定紙袋">
                </div>
              </a>
            </li>
          </ul>

        </div>
      </section>


      <section class="l-top-stores p-top-stores">
        <div class="p-top-stores__inner l-inner">

          <div class="p-top-stores__title p-section-title">
            <h2 class="c-section-title c-section-title--stores">
              <img src="./img/stores/stores-title.png" alt="STORES">
            </h2>
            <h3 class="p-section-title__subtitle c-section-subtitle">店舗販売の様子</h3>
          </div>
          <ul class="p-top-stores__items">
            <li class="p-top-stores__item p-stores-item">
              <a href="#" class="p-stores-item__link">
                <h3 class="p-stores-item__title">渋谷ヒカリエにて期間限定で販売</h3>
                <div class="p-stores-item__img">
                  <!-- <img src="./img/common/aboutsetouchi_shop01.png" alt="渋谷ヒカリエにて期間限定で販売"> -->
                  <img src="./img/stores/hikarie.jpg" alt="渋谷ヒカリエにて期間限定で販売">
                </div>
              </a>
            </li>
            <li class="p-top-stores__item p-stores-item">
              <a href="#" class="p-stores-item__link">
                <h3 class="p-stores-item__title">二子玉川ライズにて期間限定で販売</h3>
                <div class="p-stores-item__img">
                  <img src="./img/stores/nikotama_popup.png" alt="二子玉川ライズにて期間限定で販売">
                </div>
              </a>
            </li>
          </ul>

        </div>
      </section>


      <section class="l-top-news p-top-news">
        <div class="p-top-news__inner l-inner">

          <div class="p-top-news__title p-section-title">
            <h2 class="c-section-title c-section-title--news">
              <img src="./img/news/news-title.png" alt="NEWS">
            </h2>
            <h3 class="p-section-title__subtitle c-section-subtitle">メディア掲載情報</h3>
          </div>
          <ul class="p-top-news__items">
            <li class="p-top-news__item p-news-item">
              <time class="p-news-item__date" datetime="2022-02-22">2022.2.22</time>
              <a href="#" class="p-news-item__link">東京カレンダー3月号にて紹介</a>
            </li>
            <li class="p-top-news__item p-news-item">
              <time class="p-news-item__date" datetime="2022-02-22">2022.2.22</time>
              <a href="#" class="p-news-item__link">東京カレンダー3月号にて紹介</a>
            </li>
            <li class="p-top-news__item p-news-item">
              <time class="p-news-item__date" datetime="2022-02-22">2022.2.22</time>
              <a href="#" class="p-news-item__link">東京カレンダー3月号にて紹介</a>
            </li>
          </ul>

        </div>
      </section>


      <%- include('./common/_footer') %>
  </body>

</html>